<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Blogs</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Latest blogs
      </h3>
      <%= link_to 'New Blog', new_blog_path if logged_in? :site_admin %>
    </div>

    <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit
          amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

    </div>

  </div>

  <%= render @blogs %>
  <%== pagy_bootstrap_nav(@pagy) %>
</main>
