<main class="container">
  <h1>Editing <strong><%= link_to @portfolio.title, @portfolio %></strong></h1>

  <%= render 'form', portfolio: @portfolio %>

  <%= link_to 'Back', portfolios_path %>
</main>